

<section class="content-header">
  <div class="container-fluid">
    <div  class="row mb-2">
        <div class="col-sm-9">
          <h1>Thống kê top 10 sản phẩm bán chạy</h1>
        </div>
       
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">
              <thead>
                   <th>STT</th>
                  <th>Tên sách</th>
                  <th>Tác giả</th>
                  <th>Thể loại</th>
                  <th>Giá bán</th>
                  <th>Số lượng trong kho</th>
                  <th>Đã bán</th>
              </thead>
              <tbody>
                {{#each books}}
                  <tr>
                    <td>{{@key}}</td>
                  <td>{{title}}</td>
                  <td>{{author}}</td>
                  <td>{{catogory}}</td>
                  <td>{{basePrice}}</td>
                  <td>{{storeNumber}}</td>
                  <td>{{saleNumber}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
           
          </div>
        </div>
      </div>
    </div>
  </div> 
</section>

